<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PasswordKeeper.Apps.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PasswordKeeper.Apps.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <PasswordKeeper.Apps.Wpf.Properties.Settings>
      <setting name="IsDesktop" serializeAs="String">
        <value>True</value>
      </setting>
    </PasswordKeeper.Apps.Wpf.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <PasswordKeeper.Apps.Wpf.Properties.Settings>
      <setting name="IsFirstLaunch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserDirectoryLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="UserDirectoryName" serializeAs="String">
        <value>PasswordKeeper Users</value>
      </setting>
    </PasswordKeeper.Apps.Wpf.Properties.Settings>
  </userSettings>
</configuration>